mat-spinner {
  margin: auto;
}

mat-card {
  width: 25%;
  height: 55%;
  /* margin: 0 10px; */
  margin: 0 auto;
}

mat-paginator {
  margin-top: 1rem;
  /* position: absolute;
  bottom: 0;
  width: 90%;
  margin-bottom: 1rem; */
}
